.Cards{
    display: flex;
    gap: 10px;
}

.CardContainer{
    width: 100%;
}

@media screen and (max-width:1210px){
    .Cards{
        flex-direction: column;
    }
    .CardContainer{
        height: 10rem;
        
    }
}

@media screen and (max-width:768px){
    .Cards{
        width: 90%;
    }
}